input::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: black;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}


input{
    background-color: aliceblue;
}

select{
    width: 300px;
}