input::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: black;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

*{
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    /* margin: 0; */
    /* font-size: medium; */
}

.currencyTitle{
    font-size: 30px;
}

.allResults{
    display: flex;
    justify-content: center;
}

.valuesResults{
    font-size: 50px;
    background-color: #f8f9fa;
    width: 30vw;
    border: none;
}

.topChart{
    background-color: #E1E4DF;
    height: 40vh;
    padding-top: 5vh;
}

.topFlexBox{
    display: flex;
    /* background-color: aqua; */
    width:100%;
    justify-content: center;
}

.selectedExchange{
    font-weight: bold;
}

.types{
    justify-content: space-evenly;
    margin-top: 10px;
}

.line2{
    border: 0;
    height: 2px; 
    background-color: rgb(59, 59, 59);
}

.typeButton{
    border: solid 2px black;
    border-radius: 10px;
    background-color: #fff;
    padding: 5px;
}

#searchPlace{
    height: 5vh;
    width: 30vw;
    border: none;
    background-color: #EFEFEF;
    padding-left: 5px;
    margin-left: 5px;
    color: #8A8A8A;
}

#searchPlace:focus {
    border: 2px solid none;
    outline: none; /* Opcional: remove a borda padrão do navegador */
}

.upperPlaceBox{
    /* position: fixed; */
    /* background-color: aliceblue; */
    display: flex;
    width: 80vh;
    flex-direction: column;
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

.row{
    display: flex;
    flex-direction: row;

}

.searchPlace2{
    /* background-color: violet; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.buttonCurrency{
    background-color: rgba(255, 255, 255, 0);
    height: 30px;
    border: none;
    width: 100%;
    text-align: left;

}

.searchRounded{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFEFEF;
    width: 50vw;
    border-radius: 10px;
    height: 10vh;

}

input {
    background-color: aliceblue;
}

select {
    width: 300px;
}

/* .money1{
    margin-top: 100px;
} */

.select2-container--default .select2-selection--single {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    height: 38px;
    display: flex;
    align-items: center;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
    right: 10px;
}

.modal {
    display: block;
    border: none;
    background-color: #ffffff;
    width: 60vw;
    height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #000;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
}

.button{
    /* width: 200px; */
}

#line-example-3 {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  #line-example-3 .line {
    --aspect-ratio: 21 / 9;
    background-color: #E1E4DF;
    color: #000;
  }

  .charts-css {
    --color-1: rgba(0, 0, 0, 0.75);
  }

.date{
    background-color: aqua
}

.charts-css.line.show-labels tbody tr th {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: var(--labels-align-inline, center);
    -ms-flex-align: var(--labels-align-inline, center);
    align-items: var(--labels-align-inline, end);
    /* background-color: aquamarine; */
    /* width: 60px; */
    position: relative;
    left: 50px;

}

.doodle{
    background-color:#C9FA75;
    position: relative;
    font-weight: 600;
    width: 195px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 235px;
    z-index: 10;
    border-bottom: solid 3px;
    border-radius: 12px;
}

.doodle::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 20px solid #C9FA75;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    top: 23px; /* Ajuste conforme necessário para centralizar */
    border-radius: 0px; /* Arredondar as bordas */
}

.doodle::after {
    content: '';
    width: 0;
    height: 0;
    border-top: 23px solid black; /* Espaço para a borda */
    border-left: 23px solid transparent;
    border-right: 23px solid transparent;
    /* border-bottom: 52px solid black; A cor da borda */
    position: absolute;
    top: 25px; /* Ajuste conforme necessário para centralizar */
    border-radius: 5px; /* Arredondar as bordas */
    z-index: -1; /* Colocar atrás do triângulo principal */
}




.reverseButton {
    display: flex;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: #000 solid 2px;
    width: 40px;
    height: 40px;
    background-color: rgb(246, 246, 255);
    position: relative; /* Cria um contexto de posicionamento */
    cursor: pointer;
    transition: top 0.2s ease;
    bottom: 15px;
    user-select: none;
}

.reverseArrow {
    rotate: 90deg;
}

.reverseButton::before {
    content: '';
    width: 40px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    border-radius: 100%;
    top: 7px;
    left: 0;
    z-index: -1;
    transition: top 100ms linear;
}

.exchangeDivider{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(127, 255, 212, 0);
}
.diverLine{
    width: 100%;
    position: relative;
    top: 25px;
}

.reverseButton:active{
    top: -10px;
}

.reverseButton.active::before {
    top: 0px; /* Ajuste a posição do pseudoelemento quando o botão principal está ativo */
}




@media (min-width: 800px) {
    .modal{
        width: 30vw;
    }
    #searchPlace{
        width: 17vw;
    }

    .searchRounded{
        width: 25vw;
    }
}

@media (max-width: 400px){
    #searchPlace{
        width: 20vw;
    }
}